@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<p>
    Message: @message
</p>
<button onclick="JSFunction('my value')"> Call JS Method</button>
@code {
    private static Func<string, string> action;     //make a delegate

    private string message = "Select the button.";

    protected override void OnInitialized()
    {
        action = DotNetFunction;                    //initializing delegate
    }


    private string DotNetFunction(string name)
    {
        message = $"{name}, DotNetFunction Called!";
        StateHasChanged();

        return message;
    }

    [JSInvokable]
    public static string FunctionCaller(string name)
    {
        return action.Invoke(name);                     //calling  instance method inside static method, through delegate
    }
}
